body {
    display: flex;
    flex-direction: column;
    padding: 2rem 20vw;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    color: white;
    align-items: center;
}

.title {
    font-size: 2rem;
}

ul {
    display: flex;
    gap: 0.4rem;
}

li {
    display: flex;
}

.navy-container {
    display: flex;
    background-color: navy;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.left-container, .right-container {
    display: flex;
    max-width: 50%;

}

.left-container {
    flex-direction: column;
}

.left-title {
    font-size: 1.5rem;
}

img {
    width: 50vw;
}