body {
    display: flex;
    flex-direction: column;
}

.navycontainer {
    display: flex;
    flex-direction: column;
    background: navy;
}

.header {
    display: flex;
    background: navy;
    color:white;
    justify-content: space-between;

}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
    padding-right: 100px;
    align-self: center;
}

ul li {
    display: inline-block;
    padding-right: 8px;
}

.header h1 {
    padding-left: 100px;
    font-size: 18px;
}