body {
    display: flex;
    flex-direction: column;
}

.navycontainer {
    display: flex;
    flex-direction: column;
    background: navy;
}

.header {
    display: flex;
    background: navy;
    color:white;
    
}